.App {
  display: flex;
  text-align: center;
  margin: 5px;
}

.Left {
   width: 25%;
  height: 60vh;
   color: red;
  border: 1px solid red;
  margin: 5px;
  background: linear-gradient(yellow, red);
 }

.Right {
  width: 25%;
  color: green;
  border: 1px solid green;
  margin: 5px;
  height: 60vh;
  background: radial-gradient(circle, red, yellow, green);
}

.Middle {
  width: 50%;
  color: white;
  border: 1px solid blue;
  margin: 5px;
  height: 60vh;
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.buttonL,.buttonR,.buttonM {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}

@media (max-width: 500px){
  .App{
    flex-direction: column;
  }

  .Left, .Right, .Middle {
    width: 100%;
  }

}